<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="For this year’s National Day of Romania we want to give a little feeling of what is truly Romanian. The heritage, tradition, folk. Now get your click to work and join the dance!" />
  <meta name="keywords" content="1 December | National Day of Romania" />
  <meta name="author" content="1dece.ro" />
  <meta property="fb:app_id" content="<%= ENV['FB_APP_ID'] || '593950217332942' %>" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="1 December | National Day of Romania" />
  <meta property="og:image" content="http://joinhora.ro/img/jointhehora.png" />
  <meta property="og:description" content="Join the largest digital hora to celebrate together the National Day of Romania." />
  <meta property="og:url" content="http://joinhora.ro" />

  <title>1dece.ro | Celebrating National Day of Romania</title>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,400' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="css/normalize.css" type="text/css">
  <link rel="stylesheet" href="css/national.css" type="text/css">
  <link rel="stylesheet" href="css/keyframes.css" type="text/css">
  <link rel="stylesheet" href="css/force.css" type="text/css">
  <link rel="stylesheet" href="css/jquery.jscrollpane.css" type="text/css" />
  <link rel="stylesheet" href="css/ionicons.css" type="text/css" />

  <link rel="stylesheet" href="css/map.css">
  <link rel="stylesheet" href="css/leaflet.css" />
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="css/leaflet.ie.css" />
  <![endif]-->

  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="/js/hora.js" type="text/javascript"></script>
  <script src="/js/application.js" type="text/javascript"></script>


  <script>
    var _prum = [['id', '529b489cabe53d085a000000'],
                ['mark', 'firstbyte', (new Date()).getTime()]];
    (function() {
        var s = document.getElementsByTagName('script')[0]
          , p = document.createElement('script');
        p.async = 'async';
        p.src = '//rum-static.pingdom.net/prum.min.js';
        s.parentNode.insertBefore(p, s);
    })();
  </script>

</head>
<body>
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        // init the FB JS SDK
        FB.init({
          appId      : '<%= ENV['FB_APP_ID'] || '593950217332942' %>',                        // App ID from the app dashboard
          channelUrl : '//<%= request.host_with_port %>/channel.html', // Channel file for x-domain comms
          status     : true,                                 // Check Facebook Login status
          xfbml      : true                                  // Look for social plugins on the page
        });

        App.handleLoginStatus();

        // Additional initialization code such as adding Event Listeners goes here
        // FB.Event.subscribe('auth.statusChange', function(response) {
        //   App.handleSession(response);
        // });

      };

      // Load the SDK asynchronously
      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

  <div id="left-sidebar" class="initialLeftSidebar">
    <button class="ion-close close-leftSidebar"></button>
    <h3>Statistics</h3>

    <div class="stats-box">
      <div class="bg-grey"></div>
      <span class="bigtext"><%= user_stats.total %></span>
      <span class="text">joined</span>
    </div>

    <div class="stats-box">
      <div class="bg-grey"></div>
      <span class="bigtext"><%= user_stats.mens %></span>
      <span class="text">guys</span>
    </div>

    <div class="stats-box">
      <div class="bg-grey"></div>
      <span class="bigtext"><%= user_stats.womens %></span>
      <span class="text">girls</span>
    </div>

  </div>

  <div id="top-sidebar" class="initialTopSidebar">
    <button class="ion-close close-topSidebar"></button>

    <div id="map"></div>
  </div>

<div id="main">
  <div id="top-part">

    <div id="flagholder">
        <div class="blue"></div>
        <div class="yellow"></div>
        <div class="red"></div>
    </div><!-- header -->

    <div class="header">
      <h2>1 december</h2> | <h1>National Day of Romania</h1>
    </div>

    <div class="hora-container-mask">
      <div class="hora-container" style="width: <%= User.count * 54  %>px">
          <% User.order('id DESC').to_a.each do |user| %>
            <div class="user-<%= user.fbid %> current-participant participant <%= user.gender %>" data-character="<%= user.character || [1,2,3].shuffle.first %>"><i class="ion-chevron-down"></i><p><%= user.name %></p></div>
          <% end %>
      </div>
    </div>

    <div class="action-buttons" id="status">
      <%# do not show buttons at start %>
      <%# <a id="connect" href="#" class="join-hora blue"><i class="ion-social-facebook"></i>Join Hora</a> %>
      <%# <span class="button-spacer yellow">or</span> %>
      <%# <a id="dance" href="#" class="start-hora red"><i class="ion-ios7-musical-note"></i>Start Hora</a> %>
    </div><!-- action buttons -->
    <button class="startsong"></button>
    <button class="stopsong"></button>

    <div class="sidebar-buttons">
      <button class="top ion-ios7-location"></button>
      <button class="left ion-ios7-pie"></button>
    </div>


  </div><!-- top part -->

  <div class="dance-description">
    <h3>CREATING THE FIRST DIGITAL HORA</h3>
    <p>Last year 1dece.ro wanted to <a href="/2012/index.html" class="link" target="_blank">“move the capital of Romania”</a> from Budapest to its real location, Bucharest. This year we have a more...entertaining goal - to create the first and largest digital <strong>hora</strong>. Let's DANCE!</p>
    <p><i>Hora</i> is a traditional Romanian folk dance where the dancers hold each other's hands forming a circle, while accompanied by musical instruments and a contagious rhythm. No wonder we say in Romanian "let's play the hora!"</p>
    <p>Why <strong>hora</strong>? Because for this year’s National Day of Romania we want to give a feeling of what is traditionally, authentically Romanian. But let's end the talk and HAI LA JOC! Just click and join the hora!</p>
  </div>


  <div id="footer">
    <div class="footer-wrapper">
      <div class="fb-like" data-href="http://joinhora.ro" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
      <span class="hello1dece">
        <a href="mailto:hi@1dece.ro">hi@1dece.ro</a> + A creative independent campaign made for the National Day of Romania + 2013 + <a href="https://github.com/korin">rubydev</a> +
        <div class="cc-wrapper"><a class="cc" rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/4.0/80x15.png" /></a></div> + <a href="/downloads/1deceGoodies.rar" title="facebook goodies covers avatars">Facebook Goodies</a>
      </span>
      </div>
    </div>
  </div>
</div>

<div class="editor participant male" data-character="1">
  <i class="ion-chevron-down"></i>
  <div class="gender-buttons">
    <a href="#" class="gender-select ion-female red" data-gender="female"></a><a href="#" class="gender-select ion-male blue" data-gender="male"></a>
  </div>
  <!-- gender buttons -->
    <a href="#" class="arrows prev-char ion-chevron-left">
    <a href="#" class="arrows next-char ion-chevron-right">

    <a href="#" class="save-participant">Join</a>
</div>

<!-- JS INCLUDES -->
  <script src="js/leaflet.js"></script>
  <script type="text/javascript" src="js/jquery.mousewheel.js"></script>
  <script type="text/javascript" src="js/jquery.jscrollpane.min.js"></script>
  <script src="/js/map.js" type="text/javascript"></script>

<script type="text/javascript" charset="utf-8">
$(function(){
  var geojsonFeature = {
    "type": "FeatureCollection",
    "features": <%= User.where("latitude IS NOT NULL AND longitude IS NOT NULL").all.map(&:to_geohash).to_json %>
  };
  L.geoJson(geojsonFeature).addTo(map);
  // var bounds = new L.LatLngBounds(<%= User.where("latitude IS NOT NULL AND longitude IS NOT NULL").pluck("latitude,longitude").to_json %>);
  // map.fitBounds(bounds);
  });
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-46061392-1']);
  _gaq.push(['_setDomainName', '1dece.ro']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
